.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
    margin: 180px auto;
}

.form {
    max-width: 480px;
    margin: 0;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.submitButton {
    max-width: 196px;
}

.link {
    text-decoration: none;
}

.additionalActions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}