.component {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  align-items: center;
}

.filling_ingridients {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  height: 40vh;
  composes: custom-scroll from global;  
}

.filling_ingridients_item {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.accept_order {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  gap: 40px;
  composes: mt-6 mr-15 from global;
}

.totals {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 9.5px;
  composes: text text_type_digits-medium from global;  
}

.constructorElementTop {
  min-height: 80px;
  composes: ml-3 mt-0 mb-4 from global;
}

.constructorElementBottom {
  composes: ml-3 mt-4 mb-4 from global;
}