.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order_number {
    width: 100%;
    min-width: 520px;
    text-align: center;
}

.text {
    width: 100%;
    max-width: 520px;
    text-align: center;
}