.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
  margin: 180px auto;
}

.title {
  composes: pt-0 pb-0 text text_type_main-large from global;
}

.form {
  max-width: 480px;
  margin: 0;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.submitButton {
  max-width: 128px;
}

.link {
  text-decoration: none;
  composes: pl-2 text text_type_main-default text_color_accent from global;
}

.additionalActions {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  composes: text text_type_main-default text_color_inactive from global;
}

.additionalAction {
  margin: 0;
  padding: 0;
}