.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    position: relative;
    background-color: var(--background);
    border-radius: 40px;
    padding: 40px;
}

.closeButton {
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
}