.card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 272px;
    min-height: 208px;
    text-decoration: none;
    color: white;
}

.card:hover {
    opacity: .8;
    cursor: pointer;
}

.image {
    min-height: 120px;
    height: 120px;
    width: 240px;
}

.price {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: center;
    gap: 9px;
    composes: pt-2 pb-2 text text_type_main-medium from global;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 240px; 
    composes: text text_type_main-default from global;  
}