.component {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  max-width: 584px;
  width: 100%;
  gap: 60px;
  composes: text text_type_main-medium text_color_primary from global;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}

.statsBlock {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.statsBlockFixed {
  display: flex;
  max-width: 280px;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.statsTitle {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  composes: text text_type_main-medium text_color_primary from global;
}

.digitsReady {
  margin: 0;
  padding: 0;
  text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px rgba(51, 51, 255, 0.25);
  composes: text text_type_digits-default text_color_primary from global;
}

.digits {
  margin: 0;
  padding: 0;
  text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.50), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px rgba(51, 51, 255, 0.25);
  composes: text text_type_digits-large text_color_primary from global;
}

.ordersNumbers {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 320px;
  flex-wrap: wrap;
  column-gap: 10px;  
}
.orderNumber {
  margin: 0;
  padding: 0;
  color: var(--colors-interface-success);
  list-style-type: none;
  composes: text text_type_digits-default from global;
}