.component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    width: 100%;
}

.tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 56px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab {
    display: block;
}

.ingridients_list_by_type {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    height: 100vh;
}

.ingridients_list_by_type::-webkit-scrollbar {
    width: 8px;
}

.ingridients_list_by_type::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}