.header {
    align-items: center;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 88px;
    max-width: 1920px;
    margin: 40px Auto 0;
}

.content {
    padding: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1240px;
}

.nav_type_left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 49px;
}

.nav_type_right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 49px;
}

.nav_type_logo {
    min-width: 289px;
}
